@import url('https://fonts.googleapis.com/css2? family=Montserrat:wght@100&display=swap');


/* container-card{
    display: flex;
    justify-content: center;
} */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sensado{
    display: flex;
    width: 300px;
    height: 320px;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Montserrat, sans-serif;
    background: #ee9b00;
}
.contenedor{
    display: flex;
    width: 300px;
    height: 320px;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    background: #ee9b00;
    box-shadow:  20px 20px 60px #ca8400,
                 -20px -20px 60px #ffb200;
}

 .contar{
    font-size: 5rem;
} 


.contar{
    font-size: 5rem;
}

.botones{
    margin-top: 10px;
}

.incr{
    margin: 5px;
    width: 70px;
    height: 25px;
    cursor: pointer;
    font-size: 1.5rem;
    background: green;
    border:none;
    border-radius: 5px;
}

.decr{
    margin: 5px;
    width: 70px;
    height: 25px;
    cursor: pointer;
    font-size: 1.5rem;
    background: red;
    border:none;
    border-radius: 5px;
}

span{
    color:black;
}
